<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>Lacey | E-Commerce Demo</title>
    </head>
    <body>
        <div class="grid-container">
            <header class="header">
                <div class="brand"> 
                    <a href="index.html">Demo Shop</a>
                </div>
                <div class="header-links">
                    <a href="signin.html">Signin</a>
                    <a href="cart">Cart</a>
                </div>
                Lacey | E-Commerce Demo
            </header>
            <aside>
                Shopping Categories
            </aside>
            <main class="main">
                <ul>
                    <li>Product 1</li>
                    <li>Product 2</li>
                    <li>Product 3</li>
                    <li>Product 4</li>
                    <li>Product 5</li>
                </ul>
            </main>
            <footer class="footer">All rights reserved.</footer>
        </div>
    </body>
</html> 